@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-reg.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/pt-sans-bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Caveat";
  src: url('../fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Caveat";
  src: url('../fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/segoeui.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/segoeuib_0.ttf') format('truetype');
  font-weight: 700;
}
